<div class="limiter">
  <div class="container-login100 form-background login-bg">
    <div class="form-left">
      <!-- <img src="assets/images/form-bg.svg" /> -->
    </div>
    <div class="form-right">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="loginForm" novalidate>
          <span class="login100-form-title pb-5">
            <img src="assets/images/x-future.svg">
          </span>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage && loginForm.valid">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ errorMessage }}
              </div>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" name="email" required />
                <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
                <mat-error *ngIf="f.email.touched && f.email.invalid">
                  Email is required
                </mat-error>
              </mat-form-field>

            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input required matInput type="password" formControlName="password" autocomplete="off" type="Password"
                  name="password">
                <!-- <mat-icon matSuffix>vpn_key</mat-icon> -->
                <mat-error *ngIf="f.password.touched && f.password.invalid">
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="flex-sb-m w-full p-t-15 p-b-15">
            <div class="form-check">&nbsp;</div>
            <div>
              <a class="txt1 fp-link" routerLink="/authentication/forgot-password">Forgot Password?</a>
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button mat-flat-button color="primary" class="login100-form-btn" type="submit" (click)="onSubmit()">
              Login <div>
                <div class="btn-loader2" *ngIf="loginLoader">Loading...</div>
              </div>
            </button>
          </div>
          <div class="text-center">
            <div class="text-right">
              <span class="txt3">
                <a (click)="goToApply(orgTypes.corporate)" href="javascript:void(0);" style="cursor: pointer;"
                  class="blue-transparent-btn">Apply as Corporate</a>
                <!-- using -->
              </span>
            </div>
            <div class="text-right">
              <span class="txt3">
                <a (click)="goToApply(orgTypes.startup)" href="javascript:void(0);" style="cursor: pointer;"
                  class="blue-transparent-btn">Apply as Startup</a>

                <!-- using -->
              </span>
            </div>
          </div>
          <!-- <div class="login100-form-social flex-c-m">
            <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
              <i class="fab fa-twitter"></i>
            </a>
          </div> -->
          <div class="text-center m-t-30">
            <div class="text2">
              <a href="javascript:void(0);" class="custom-link">Terms and conditions and Privacy policy.</a></div>
          </div>
        </form>
        <!--   <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg'); display: none;">
        </div> -->
      </div>
    </div>
  </div>
</div>