.forgot-pass-success{
    color: #71c171;
    font-size: small;
    position: relative;
    top: -36px;
}
.forgot-pass-error{
    color: red;
    font-size: small;
    position: relative;
    top: -36px;
}