<div class="limiter">
  <div class="container-login100 form-background">
    <div class="form-left">
      <img src="assets/images/form-bg.svg" />
    </div>
    <div class="form-right">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <span class="login100-form-title m-b-30">
              <img src="assets/images/x-future.svg">
            </span>
          </div>
          <span class="error-subheader p-b-15  p-t-30">
            Forgot Password
          </span>
          <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
              <input matInput formControlName="email" name="email" required>
              <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
              <!--   <mat-error *ngIf="f.email.touched && f.email.invalid">
                Email is required
              </mat-error> -->
              <mat-error *ngIf="
              f.email.hasError('required') &&
              !f.email.touched
            ">
                * Email address is required
              </mat-error>
              <mat-error *ngIf="f.email.touched">
                * Please enter valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-center forgot-pass-success" *ngIf="successMessage && loginForm.valid">
            <span class="text2">
              Reset Password link has been sent to your e-mail address.
              <!--  {{ successMessage }} -->
            </span>
          </div>
          <div class="text-center forgot-pass-error" *ngIf="errorMessage && loginForm.valid">
            {{ errorMessage }}
          </div>
          <div class="container-login100-form-btn">
            <button mat-flat-button color="primary" class="login100-form-btn" type="submit" [disabled]='forgotbuttondisable==true'  (click)="onSubmit()">
              Continue
              <div class="btn-loader2" *ngIf="loginLoader">Loading...</div>
            </button>

          </div>
          <div class="text-center">
            <div class="text-right">
              <span class="txt3">
                <a href="javascript:void(0);" (click)="redirectToLogin()" class="blue-transparent-btn"
                  style="cursor: pointer;" title="Login here">Login</a>
                <!-- using -->
              </span>
            </div>
            <div class="text-right">
              <span class="txt3">
                <a (click)="goToApply(orgTypes.corporate)" title="Apply here"
                  href="javascript:void(0);" class="blue-transparent-btn" style="cursor: pointer;">Corporate Sign up</a>
                <!-- using -->
              </span>
            </div>
            <div class="text-right">
              <span class="txt3">
                <a (click)="goToApply(orgTypes.startup)" title="Apply here"
                  href="javascript:void(0);" class="blue-transparent-btn" style="cursor: pointer;">Startup Sign up</a>

                <!-- using -->
              </span>
            </div>
          </div>
          <div class="text-center m-t-30">
            <span class="text2">
              <a href="javascript:void(0);" class="custom-link">Terms and Conditions and Privacy Policy.</a>
            </span>
          </div>
        </form>
        <!--  <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');">
        </div> -->
      </div>
    </div>
  </div>
</div>