<div class="row">
  <div class="col-md-12 pos-rel">
    <div class="register-form register-custom-form overview-custom-from n-custom-from disabled-from">
      <div class="row mb-35" *ngIf="ucsDetails.type != 'usecase'">
        <div class="col-md-7">
          <div class="">
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-7">
                <div class="bf-label">Summary of Solution <span class="red">*</span></div>
              </div>
              <div class="n-custom-value">{{this.summary}}</div>
            </div>
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-7">
                <div class="bf-label">Enterprise pain point this solution is addressing</div>
              </div>
              <div class="n-custom-value">{{this.enterprisePainPoint}}</div>
            </div>
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-7">
                <div class="bf-label">Who are the competitors and what is the USP of the solution</div>
              </div>
              <div class="n-custom-value">{{this.competitors}}</div>
            </div>
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-7">
                <div class="bf-label">Describe the maturity stage of solution</div>
              </div>
              <div class="n-custom-value">{{this.maturityStage}}</div>
            </div>
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-7">
                <div class="bf-label">What are the salient points of the solution</div>
              </div>
              <div class="n-custom-value">{{this.silentPoints}}</div>
            </div>
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-7">
                <div class="bf-label">How does the solution contribute to the ROI</div>
              </div>
              <div class="n-custom-value">{{this.contributeToROI}}</div>
            </div>
            <div class="rcf-group pt-0">
              <div class="overview-flex mb-10">
                <div class="bf-label">Customer testimonials for the solution</div>
              </div>
              <div class="">
                <div class="">
                  <carousel [interval]="false" 
                  *ngIf="this.testimonials.customerTestimonials != ''
                || this.testimonials.customerTestimonials1 != '' 
                || this.testimonials.customerTestimonials2 != ''">
                    <slide>
                      <!-- <span style="display: block; width: 100%;">
                                {{this.testimonials.customerTestimonials}} -->
                      <!-- {{this.testimonials.customerTestimonials1}}
                                {{this.testimonials.customerTestimonials2}} -->
                      <span style="display: block; width: 100%; padding: 0 12%;">
                        {{this.testimonials.customerTestimonials}}
                      </span>
                    </slide>
                    <ng-container *ngIf="this.testimonials.customerTestimonials1!=null">
                      <slide>
                        <span style="display: block; width: 100%;padding: 0 12%">
                          {{this.testimonials.customerTestimonials1}}
                        </span>
                      </slide>
                    </ng-container>
                    <ng-container *ngIf="this.testimonials.customerTestimonials2!=null">
                      <slide>
                        <span style="display: block; width: 100%;padding: 0 12%">
                          {{this.testimonials.customerTestimonials2}}
                        </span>
                      </slide>
                    </ng-container>
                  </carousel>
                </div>
                <!-- <div class="text-center">
                          <a  class="">Next</a>
                        </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="white-box pev-box">
            <div class="rcf-group pt-0 mb-10">
              <div class="display-flex align-center overview-flex mb-10">
                <div class="bf-label">Product explainer videos</div>
                <div class="ml-auto word-count"></div>
              </div>
            </div>
            <video width="100%" height="315" *ngIf="isMp4Url(urlSafe) && this.productExplainerVideos != ''" [src]="urlSafe" controls
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              [src]="urlSafe" allowfullscreen></video>
            <iframe width="100%" height="315" *ngIf="!isMp4Url(urlSafe) && this.productExplainerVideos != ''" [src]="urlSafe" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
              <iframe width="100%" height="315" [src]="" frameborder="0" *ngIf="this.productExplainerVideos == ''"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="rcf-group pt-0">
              <label class="field-label mb-0 pl-10">Video URL</label>
              <input type="text" class="n-form-control border-none" value="{{this.productExplainerVideos}}" disabled />
            </div>

            <video width="100%" height="315" *ngIf="isMp4Url(url1Safe) && this.productExplainerVideos1 != ''" [src]="url1Safe" controls
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              [src]="urlSafe" allowfullscreen></video>
            <iframe width="100%" height="315" *ngIf="!isMp4Url(url1Safe) && this.productExplainerVideos1 != ''" [src]="url1Safe" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
              <iframe width="100%" height="315" [src]="" frameborder="0"  *ngIf="this.productExplainerVideos1 == ''"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <div class="rcf-group pt-0">
              <label class="field-label mb-0 pl-10">Video URL</label>
              <input type="text" class="n-form-control border-none" value="{{this.productExplainerVideos1}}" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row pd-22  mb-35" *ngIf="ucsDetails.type != 'usecase'">
        <div class="col-md-4">
          <div class="white-box pd-20">
            <div class="rcf-group pt-0 mb-0">
              <div class="overview-flex">
                <div class="bf-label fw-400">Annual recurring revenue (USD/Yr)</div>
              </div>
              <div class="n-bold-value">{{this.annualrecurringrevenue}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="white-box pd-20">
            <div class="rcf-group pt-0 mb-0">
              <div class="overview-flex">
                <div class="bf-label fw-400">ROI of Solution(%)</div>
              </div>
              <div class="n-bold-value">{{this.rolofsolution}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="white-box pd-20">
            <div class="rcf-group pt-0 mb-0">
              <div class="overview-flex">
                <div class="bf-label fw-400">Total number of customer</div>
              </div>
              <div class="n-bold-value">{{this.totalnumberofcustomers}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="rcf-group" *ngIf="ucsDetails.type != 'usecase'">
            <div class="row">
              <div class="col-12">
                <div class="overview-white-box overview-min-height">
                  <div class="tags-block">
                    <label class="marquee-customers-label">Marquee customers</label>
                    <div class="n-bold-value">{{this.marquee_customers}}
                      <!-- <span class="n-tag-box">Saurabh Mittal</span>
                              <span class="n-tag-box">Ravi Bhaskaran</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rcf-group">
            <div class="row">
              <div class="col-md-4">
                <div class="overview-white-box  minh-145">
                  <div class="">
                    <label>Tags</label>
                    <div class="pos-rel">
                      <ng-container *ngIf="tags.length > 0">
                        <ng-container *ngFor="let tag of tags">
                          <span class="n-tag-box">
                            <span>{{ tag }}</span></span>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="overview-white-box  minh-145">
                  <div class="rcf-group pt-0 mb-17">
                    <label>Industry</label>
                    <div class="n-custom-value black mt-0">
                      <ng-container *ngIf="industry != ''">
                        <span>{{industry}}</span>
                      </ng-container>
                    </div>
                  </div>
                  <div class="rcf-group pt-0 mb-0">
                    <label>Function</label>
                    <div class="n-custom-value black mt-0">
                      <ng-container *ngIf="function != ''">
                        <span>{{function}}</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="overview-white-box minh-145">
                  <div class="">
                    <label>Technologies</label>
                    <div>
                      <span class="pos-rel">
                        <ng-container *ngIf="techlogies != ''">
                          <ng-container *ngIf="techlogies.length > 0">
                            <ng-container *ngFor="let technology of techlogies">
                              <span class="n-tag-box">
                                <span>{{ technology }}</span>
                              </span>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rcf-group" *ngIf="ucsDetails.type != 'solution'">
            <div class="row">
              <div class="col-md-12">
                <div class="rcf-group">
                  <div class="overview-white-box">
                    <label>Short Description <span style="color: red;">*</span></label>
                    <div class="pos-rel">
                      <textarea maxlength="500" rows="3" class="form-control" id="shortDesc" disabled
                        value="{{this.shortdescription}}" required></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rcf-group" *ngIf="ucsDetails.type != 'solution'">
            <div class="row">
              <div class="col-md-12">
                <div class="rcf-group">
                  <div class="overview-white-box">
                    <label>Long Description <span style="color: red;">*</span></label>
                    <div class="editor">
                      <ckeditor [editor]="Editor" [config]="ckEditorConfig" data="{{this.longdescription}}"
                        [disabled]="isDisabled" config.readOnly=true;>
                      </ckeditor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rcf-group" *ngIf="ucsDetails.type != 'usecase' ">
            <div class="overview-white-box minh-145">
              <div class="rcf-grup">
                <label class="marquee-customers-label font-600">Case Study Attached</label>
                <div class="csa-field pos-rel">
                  <div class="display-flex align-center">
                    <div class="csa-file-name">{{this.casestudy}}</div>
                    <div class="ml-auto" *ngIf="this.casestudy != ''">
                      <a href="javascript:void(0)" (click)="getDownloadDocumentPath()" class="ml-30">
                        <img src="assets/images/rs-download.svg" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>