<section class="content content ml-0 mr-0">
    <div class="page-sec dash-pt-45">
      <div class="start-profile-form-block pt-0 pb-0">
          <ng-container *ngIf="orgProfileLoader == true">
              <div class="custom-loader-wrap" *ngIf="orgProfileLoader == true">
                  <div class="custom-loader">Loading...</div>
              </div>
          </ng-container>
          <ng-container *ngIf="orgProfileLoader == false">
              <ng-container *ngIf="orgProfile.type == orgTypes.startups">
                  <!-- <section class="content content ml-20 mr-0">
                      <div class="page-sec start-profile-form dash-pt-26"> -->
                        <div class="limiter" *ngIf="successMessage == '' && errorMessage == ''">
                          <div class="container-login100 background-transparent full-page-form">
                            <div class="wrap-login100">
                              <form class="login100-form validate-form custom-field edittable-from" [formGroup]="startUpform"
                              (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="login100-form-title m-b-10 text-center">
                                      <img src="assets/images/x-future.svg" />
                                    </span>
                                  </div> -->
                                <!-- <span class="login100-form-title m-b-10">
                                    Startup Application Form
                                  </span> -->
                                <!--    {{startUpform.value|json}} -->
                                <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  {{ errorMessage }}
                                </div>
                                <div class="alert alert-success alert-dismissible" *ngIf="successMessage">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  {{ successMessage }}
                                </div>
                                <div>
                                  <div class="heading-block pl-0">
                                    <!-- <div class="display-flex align-center outside-header">
                                      <div class="back-block"><a href="javascript:void(0);" (click)="redirectToLogin()"><span
                                            class="back-icon"></span> Back to Login</a>
                                      </div>
                                    </div> -->
                                    <div class="head-title">Startup Profile</div>
                                    <div class="head-subtitle">Completing the startup profile is mandatory</div>
                                  </div>
                                  <div class="white-box mb-40 pos-rel" style="padding-top: 110px;">
                                    <div class="startup-user-block">
                                      <div class="display-flex">
                                        <div class="startup-user-circle">
                                          <!-- <img src='{{ baseUrl + logo[0].path}}' /> -->
                                          <img   src="{{
                                            this.logo[0].doc_name == ''
                                              ? '../assets/images/White.png'
                                              : baseUrl + logo[0].path
                                          }}" />
                                         
                                        </div>
                                        <div class="startup-upload-content">
                                          <div class="sub-heading">Upload Startup Logo</div>
                                          <div class="head-subtitle">preferred size will be 512px by 512px, max size 400kb</div>
                                          <div class="upload-btn-link">
                                            <ng-container *ngIf="this.localStorageService.userDetails.roles!= 'startupGuestUser'"> 
                                              <input type="file" accept=".png,.jpg,.jpeg" id="myFile"  (change)="handleLogoInput($event.target.files)" name="filename">
                                              </ng-container>
                                                <ng-container *ngIf="this.localStorageService.userDetails.roles=='startupGuestUser'" > 
                                                  <input type="file" accept=".png,.jpg,.jpeg" id="myFile"  disabled (change)="handleLogoInput($event.target.files)" name="filename">
                                              </ng-container>
                                            <span class="add-more-link">Upload Now</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="display-flex bd-flex">
                                      <div class="bd-flex-left w-45">
                                        <div class="rcf-group">
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Company Name</mat-label>
                                            <div class="input-field">
                                              <input matInput formControlName="name" required maxlength="80" appTextCount/>
                                            </div>
                                            <mat-error *ngIf="startUpform.get('name').hasError('required')">
                                              Company name is required
                                            </mat-error>
                                            <mat-error
                                              *ngIf="startUpform.get('name').hasError('maxlength') && !startUpform.get('name').hasError('whitespace')">
                                              * Maximum 80 characters allowed
                                            </mat-error>
                                            <mat-error
                                              *ngIf="startUpform.get('name').hasError('minlength') && !startUpform.get('name').hasError('whitespace')">
                                              * Minimum 3 characters allowed
                                            </mat-error>
                                            <mat-error
                                              *ngIf="startUpform.get('name').hasError('whitespace') && !startUpform.get('name').hasError('required')">
                                              * Please enter valid details
                                            </mat-error>
                                          </mat-form-field>
                                        </div>
                                      
                                        <div class="rcf-group">
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Target sectors/market</mat-label>
                                            <div class="input-field">
                                              <input  minlength="3" matInput formControlName="targetSectors" maxlength="80" appTextCount/>
                                            </div>
                                            <mat-error *ngIf="startUpform.get('targetSectors').hasError('required')">
                                              * Please write target sectors
                                            </mat-error>
                                            <!-- <mat-error *ngIf="startUpform.get('targetSectors').errors && startUpform.get('targetSectors').errors.trimError">
                                              {{startUpform.get('targetSectors').errors.trimError.value}}
                                            </mat-error> -->
                                            <mat-error *ngIf="startUpform.get('targetSectors').hasError('maxlength') && !startUpform.get('marqueeCustomers').hasError('pattern')">
                                              * Maximum 80 characters allowed
                                            </mat-error>
                                            
                                            <mat-error *ngIf="startUpform.get('targetSectors').hasError('whitespace') && !startUpform.get('targetSectors').hasError('required')">
                                              * Please enter valid details
                                          </mat-error>
                                            <mat-error *ngIf="startUpform.get('targetSectors').hasError('pattern') && startUpform.get('targetSectors').hasError('whitespace')">
                                              * Please enter valid details 
                                            </mat-error>
                                          </mat-form-field>
                                        </div>
                                        <div class="rcf-group">
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Total number of customers</mat-label>
                                            <input  matInput formControlName="totalCustomers" />
                                            <mat-error *ngIf="startUpform.get('totalCustomers').hasError('required')">
                                              * Please write total customers
                                            </mat-error>
                                          
                                            <mat-error *ngIf="startUpform.get('totalCustomers').hasError('whitespace') && !startUpform.get('totalCustomers').hasError('required')">
                                              * Please enter valid details
                                          </mat-error>
                                            <mat-error *ngIf="startUpform.get('totalCustomers').hasError('pattern') && startUpform.get('totalCustomers').hasError('required')" >
                                              * Please enter valid details 
                                            </mat-error>
                                          </mat-form-field>
                                        </div>
                                        <div class="rcf-group">
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Marquee customers</mat-label>
                                            <div class="input-field">
                                              <input matInput  formControlName="marqueeCustomers"  placeholder="Ex: John, Ricky" maxlength="80" appTextCount/>
                                            </div>
                                            <mat-error *ngIf="startUpform.get('marqueeCustomers').hasError('required') && !startUpform.get('marqueeCustomers').hasError('pattern')">
                                              * Please write marquee customers
                                            </mat-error>
                                            <mat-error *ngIf="startUpform.get('marqueeCustomers').hasError('maxlength') && !startUpform.get('marqueeCustomers').hasError('pattern')">
                                              * Maximum 80 characters allowed
                                            </mat-error>
                                            <mat-error *ngIf="startUpform.get('marqueeCustomers').hasError('minlength') && !startUpform.get('marqueeCustomers').hasError('pattern')">
                                              * Minimum 3 characters allowed
                                            </mat-error>
                                            <mat-error *ngIf="startUpform.get('marqueeCustomers').hasError('pattern')">
                                              * Please enter valid details 
                                            </mat-error>
                                          </mat-form-field>
                                        </div>
                                        <div class="rcf-group">
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Annual recurring revenue</mat-label>
                                            <input  matInput formControlName="annualRecurringRevenue" />
                                            <mat-error *ngIf="startUpform.get('annualRecurringRevenue').hasError('required')">
                                              * Please enter valid details 
                                            </mat-error>
                                            <mat-error *ngIf="startUpform.get('annualRecurringRevenue').hasError('pattern')">
                                              * Please enter valid details 
                                            </mat-error>
                                            
                                          </mat-form-field>
                                        </div>
                                        <ng-container>
                                          <div class="rcf-group linkedin-block">  
                                            <label class="custom-label" style="color: rgb(177 177 177) !important;">LinkedIn profile of Founders</label>
                                            <div class="" formArrayName="linkedInProfile"
                                            *ngFor="let alias of linkedInProfile.controls; let index=index;">
                                              <mat-form-field class="example-full-width">
                                                <ng-container *ngIf="index == 0">
                                                  <a href="javascript:void(0);" (click)="addmore('', 'linkedInProfile')" [ngClass]="{'disable-icon':this.localStorageService.userDetails.roles =='startupGuestUser'}" class="add-more-link">
                                                    <img src="assets/images/red-plus.svg" width="26px" height="26px" />
                                                  </a>
                                                </ng-container>
                                                <ng-container *ngIf="index > 0">
                                                  <a href="javascript:void(0);" [ngClass]="{'disable-icon': this.localStorageService.userDetails.roles == 'startupGuestUser'}" (click)="remove(index,'linkedInProfile')" class="remove-link">
                                                    <img src="assets/images/red-minus.svg" width="26px" height="26px" />
                                                  </a>
                                                </ng-container>
                                                <input matInput  [formControlName]="index" required pattern="^https:\/\/[a-z]{2,3}\.linkedin\.com\/.*$" />
                                                <mat-error *ngIf="
                                                linkedInProfile.controls[index].hasError('required') &&
                                                  (linkedInProfile.controls[index].touched || submitted)
                                                ">
                                                  * Please enter linkedIn detail
                                                </mat-error>
                                                <mat-error *ngIf="
                                                linkedInProfile.controls[index].hasError('pattern') &&
                                                (linkedInProfile.controls[index].touched || submitted)
                                                ">
                                                  * Please enter valid linkedIn detail 
                                                </mat-error>
                                                <!-- <mat-error *ngIf="linkedInProfile.controls[index].touched">
                                                  * Please enter valid linkedIn details 
                                                </mat-error> -->
                                                <mat-error *ngIf="linkedInProfile.controls[index].errors && linkedInProfile.controls[index].errors.trimError">
                                                  {{linkedInProfile.controls[index].errors.trimError.value}}
                                                </mat-error>
                                              </mat-form-field>
                                              <div class="gengric-email-error" *ngIf="genricError"
                                                style="margin-top: -22px; font-size: 13px; color: red;">
                                                Generic Domain Email Ids are not accpetable
                                              </div>
                                            </div>
                                          </div>
                                        </ng-container>
                                      </div>
                                      <div class="bd-flex-right w-55">
                                        <div class="rcf-group mb-0">
                                          <mat-form-field class="example-full-width bb-none">
                                            <div class="border-field">
                                              <div class="display-flex align-center bf-header-block">
                                                <div class="bf-label">What problem startup solves
                                                  <span class="red">*</span> 
                                                  <span class="info-block">
                                                    <img src="assets/images/info.svg" width="16px" height="16px" />
                                                    <div class="info-content-box">
                                                      Nikon Positioning Statement 
                                    For (Creative professionals with an eye for capturing and sharing the beauty), (Nikon) is a (digital point and shoot) that delivers ( a window to their world), so they ( experience  deeper connections through a shared perspective) because ( of Nikon's 100-year history of developing new technologies that allow you to capture and share your experience in their purest form, it's as if you were there).
                                                    </div>
                                                  </span>
                                                </div>
                                                <div class="ml-auto word-count">Max 500 Characters</div>
                                              </div>
                                              <div class="input-field">
                                                <textarea  matInput   formControlName="description" class="form-control mih-435" maxlength="500" appTextCount></textarea>
                                              </div>
                                            </div>
                                            <!-- <mat-error *ngIf="startUpform.get('description').hasError('required')">
                                              * Please enter valid details 
                                            </mat-error>
                                            <mat-error *ngIf="startUpform.get('description').hasError('maxlength')">
                                              * Maximum 500 characters allowed
                                            </mat-error> -->
                                            <mat-error *ngIf="startUpform.get('description').hasError('required')">
                                              * Enter valid details
                                            </mat-error>
                                            <mat-error
                                              *ngIf="startUpform.get('description').hasError('maxlength') && !startUpform.get('description').hasError('whitespace')">
                                              * Maximum 500 characters allowed
                                            </mat-error>
                                            <mat-error
                                              *ngIf="startUpform.get('description').hasError('minlength') && !startUpform.get('description').hasError('whitespace')">
                                              * Minimum 3 characters allowed
                                            </mat-error>
                                            <mat-error
                                              *ngIf="startUpform.get('description').hasError('whitespace') && !startUpform.get('description').hasError('required')">
                                              * Please enter valid details
                                            </mat-error>
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-9 col-8 text-right">
                                      <div class="captcha-btn-block fl-right">
                                        <div class="ml-auto captcha-block">
                                          <re-captcha (resolved)="resolved($event)" siteKey="6LcWSb4ZAAAAAP6_4rm7c7qwR0pcJvLX2LwLURvI">
                                          </re-captcha>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-3 col-4 text-right">
                                        <button *ngIf="this.localStorageService.userDetails.roles!= 'startupGuestUser'" style="margin-top: 14px;" mat-flat-button color="primary" class="red-btn w-100 lh-40"
                                          type="submit">
                                          <div class="btn-loader2" *ngIf="startupLoader">Loading...</div>
                                          Submit
                                        </button>
                                        <button *ngIf="this.localStorageService.userDetails.roles== 'startupGuestUser'"  disabled style="margin-top: 14px;" mat-flat-button color="primary" class="red-btn w-100 lh-40"
                                        type="submit">
                                        <div class="btn-loader2" *ngIf="startupLoader">Loading...</div>
                                        Submit
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                  <!-- <div class="text-left m-t-30 mb-20">
                                    <span class="text2">
                                      <a href="javascript:void(0);" (click)="redirectToLogin()" class="red-link">Terms and conditions and
                                        Privacy policy.</a>
                                    </span>
                                  </div> -->
                              </form>
                              <!--  <div
                                  class="login100-more"
                                  style="background-image: url('assets/images/pages/home-login.jpg');"
                                ></div> -->
                            </div>
                          </div>
                        </div>
                        <div class="limiter" *ngIf="successMessage != ''">
                          <!-- *ngIf="successMessage != ''" -->
                          <div class="container-login100 background-transparent full-page-form">
                            <div class="wrap-login100 display-block">
                              <div class="white-box alert-white-box w-100">
                                <form class="login100-form validate-form custom-field edittable-from" novalidate>
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="login100-form-title m-b-30" style="text-align: center;">
                                      <img src="assets/images/x-future.svg" />
                                    </span>
                                  </div>
                                  <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                      <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                                        <div class="text-center mb-20"><img src="assets/images/success.svg" width="44px" height="44px" />
                                        </div>
                                        <div class="text-center success mb-20 text-success">
                                          {{ successMessage }}
                                        </div>
                                      </span>
                                    </div>
                                  </div>
                                  <div class="container-login100-form-btn">
                                    <button mat-flat-button color="primary" class="red-btn w-100 mxw-350"
                                      [routerLink]="['/authentication/signin']">
                                      Continue to Login
                                    </button>
                                  </div>
                                  <div class="text-center m-t-50">
                                    <span class="text2">
                                      <a href="javascript:void(0);" class="red-link"> Terms and Conditions and Privacy Policy.</a>
                                    </span>
                                  </div>
                                </form>
                              </div>
                              <!--  <div
                                  class="login100-more"
                                  style="background-image: url('assets/images/pages/home-login.jpg');"
                                ></div> -->
                            </div>
                          </div>
                        </div>
                        <div class="limiter" *ngIf="errorMessage != ''">
                          <!-- *ngIf="errorMessage != ''" -->
                          <div class="container-login100 background-transparent full-page-form">
                            <div class="wrap-login100 display-block">
                              <div class="white-box alert-white-box w-100">
                                <form class="login100-form validate-form custom-field edittable-from" novalidate>
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <span class="login100-form-title m-b-30" style="text-align: center;">
                                      <img src="assets/images/x-future.svg" />
                                    </span>
                                  </div>
                                  <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                      <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                                        <div class="text-center mb-20"><img src="assets/images/error.svg" width="44px" height="44px" />
                                        </div>
                                        <div class="text-center success mb-20 text-danger">
                                          {{ errorMessage }}
                                        </div>
                                      </span>
                                    </div>
                                  </div>
                                  <div class="container-login100-form-btn">
                                    <button mat-flat-button color="primary" class="red-btn w-100 mxw-350"
                                      [routerLink]="['/authentication/signin']">
                                      Continue to Login
                                    </button>
                                  </div>
                                  <div class="text-center m-t-50">
                                    <span class="text2" (click)="redirectToLogin()">
                                      <a href="javascript:void(0);" class="red-link">Terms and Conditions and
                                        Privacy Policy.</a>
                                    </span>
                                  </div>
                                </form>
                              </div>
                              <!--  <div
                                  class="login100-more"
                                  style="background-image: url('assets/images/pages/home-login.jpg');"
                                ></div> -->
                            </div>
                          </div>
                        </div>
                      <!-- </div>
                    </section> -->
              </ng-container>
              <ng-container *ngIf="orgProfile.type == orgTypes.corporate">
                  <form class="login100-form validate-form background-transparent custom-field" [formGroup]="startUpform"
                      (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                      <!--  {{startUpform.value|json}} -->
                      <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          {{ errorMessage }}
                      </div>
                      <div class="alert alert-success alert-dismissible" *ngIf="successMessage">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          {{ successMessage }}
                      </div>
                      <div>
                          <div class="white-box mb-40">
                              <div class="form-box-heading">Company Profile</div>
                             
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="rcf-group">
                                           <mat-form-field  class="example-full-width">
                                              <mat-label>Name</mat-label>
                                              <div class="input-field">
                                                <input matInput formControlName="name" required maxlength="50" appTextCount />
                                              </div>
                                              <mat-error *ngIf="startUpform.get('name').hasError('required')">
                                                Company name is required
                                              </mat-error>
                                              <mat-error *ngIf="startUpform.get('name').hasError('maxlength') && !startUpform.get('name').hasError('pattern')">
                                                * Maximum 50 characters allowed
                                              </mat-error>
                                              <mat-error *ngIf="startUpform.get('name').hasError('minlength') && !startUpform.get('name').hasError('pattern')">
                                                * Minimum 3 characters allowed
                                              </mat-error>
                                              <mat-error *ngIf="startUpform.get('name').hasError('pattern')">
                                                * Please enter valid details 
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="rcf-group">
                                          <!-- <label class="field-label">Location</label> -->
                                          <mat-form-field class="example-full-width">
                                            <mat-label>Location</mat-label>
                                            <div class="input-field">
                                              <input matInput formControlName="startupLocation"  required maxlength="100" appTextCount/>
                                            </div>
                                              <mat-error *ngIf="startUpform.get('startupLocation').hasError('required')">
                                                  *Please enter company location.
                                              </mat-error>
                                              <mat-error *ngIf="startUpform.get('startupLocation').hasError('maxlength') && !startUpform.get('startupLocation').hasError('pattern')">
                                                * Maximum 100 characters allowed
                                              </mat-error>
                                              <mat-error *ngIf="startUpform.get('startupLocation').hasError('minlength') && !startUpform.get('startupLocation').hasError('pattern')">
                                                * Minimum 3 characters allowed
                                              </mat-error>
                                              <mat-error *ngIf="startUpform.get('startupLocation').hasError('pattern')">
                                                * Please enter valid details 
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="rcf-group">
                                          <label class="field-label">&nbsp;</label>
                                          <ng-container >
                                              <label class="field-label">Industry</label>
                                              <div class="display-flex align-start custom-industry-block">
                                                 
                                                  <mat-form-field class="example-full-width industry-dropdown">
                                                      <mat-select #industrySelect formControlName="industry"
                                                          [compareWith]="compareItems" name="industry" multiple   required>
                                                          <ng-container *ngIf="industries.length > 0">
                                                              <mat-option *ngFor="let industry of industries"
                                                                  [value]="industry">
                                                                  {{ industry.value }}
                                                              </mat-option>
                                                          </ng-container>
                                                          <ng-container *ngIf="industries.length == 0">
                                                              <mat-option [value]="">Select Industries</mat-option>
                                                          </ng-container>
                                                          <mat-select-trigger >
                                                              {{
                                                          startUpform.get("industry")
                                                            ? startUpform.get("industry").value[0].value
                                                            : ""
                                                        }}
                                                              <span *ngIf="startUpform.get('industry').value?.length > 1"
                                                                class="example-additional-selection">
                                                                (+{{ startUpform.get("industry").value.length - 1 }}
                                                                {{
                                                            startUpform.get("industry").value?.length === 2
                                                              ? "other"
                                                              : "others"
                                                          }})
                                                              </span>
                                                            </mat-select-trigger>
                                                          <mat-option disabled="disabled" class="filter-option">
                                                              <div style="margin-bottom: 15px;">
                                                                  <button mat-raised-button
                                                                      class="mat-primary fill text-sm"
                                                                      (click)="hideSeletePanel()">
                                                                      Done
                                                                  </button>
                                                              </div>
                                                          </mat-option>
                                                      </mat-select>
                                                      <mat-error *ngIf="startUpform.get('industry').hasError('required')">
                                                          * Industry is required
                                                      </mat-error>
                                                  </mat-form-field>
                                              </div>
                                          </ng-container>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="rcf-group">
                                          <label class="field-label">Website</label>
                                          <mat-form-field class="example-full-width">
                                              <input matInput formControlName="website"  required />
                                              <mat-error *ngIf="startUpform.get('website').hasError('required')">
                                                  * Please write website
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="row mb-40 pd-manage">
                            <ng-container >  
                              <div class="col-md-6">
                                <div class="white-box">
                                  <div class="form-question-title">{{ logo[0].title }}

                                  </div>
                                  <div class="upload1-img-section" *ngIf="logo[0].uploaded == true">
                                    <div class="upload1-img-block">
                                      <ng-container>
                                        <div class="uploaded-file-component" *ngIf="logo[0].uploaded == true">
                                        <div class="file-view-list-item-thumbnail-component">
                                        <div class="file-preview file-preview-icon undefined">
                                        <div class="file-name-with-ellipsis-component">
                                        <!-- <span class="file-name-without-extension"> {{logo[0].doc_name}} </span> -->
                                        <img src='{{ baseUrl + logo[0].path}}'/>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <!-- <div class="uploaded-file-component" *ngIf="uploadResLoader == true">
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                        </div> -->
                                      </ng-container>
                                    </div>
                                    <div class="upload1-img-path">
                                      <ng-container>
                                        <div class="uploaded-file-component" *ngIf="logo[0].uploaded == true">
                                          <div class="file-view-list-item-thumbnail-component" style="display: none;">
                                            <div class="file-preview file-preview-icon undefined">
                                              <div>
                                                <i>
                                                  <mat-icon matSuffix>insert_drive_file</mat-icon>
                                                </i>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="file-name-with-ellipsis-component">
                                            <span class="file-name-without-extension"> {{logo[0].doc_name}} </span>
                                        
                                          </div>
                                          <!-- <div class="file-name-with-ellipsis-component">
                                            <span class="file-name-without-extension"> <img src='{{ baseUrl + logo[0].path}}' /> </span>
                                        
                                          </div> -->
                                          <span class="ico-close" (click)="deleteLogo()">
                                            <div class="startup-delete-icon"></div>
                                          </span>
                                        </div>
                                        <!-- <div class="uploaded-file-component" *ngIf="uploadResLoader == true">
                                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                        </div> -->
                                      </ng-container>
                                    </div>
                                  </div>
                                  <div class="form-question-answer custom-file-picker-component">
                                    <div class="file-form-input-component">
                                      <div class="display-flex align-center">
                                        <div class="file-picker-component">
                                          <form style="cursor: text;" enctype="multipart/form-data"  name="frm">
                                            <input style="cursor: pointer;" type="file" accept=".png,.jpg,.jpeg" #myInput   class="file-hidden-input"
                                            (change)="handleLogoInput($event.target.files)"  required />
                                            <div class="add-file-label">
                                              <span class="attach-icon"></span> Add Logo
                                            </div>
                                            <div class="required-tag" style="display: none;">* Required</div>
                                          </form>
                                        </div>
                                      </div>
                                      <div class="gengric-email-error"  *ngIf="logo[0].error == true"
                                        style="margin-top: -8px; font-size: 13px; color: red;">
                                        {{logo[0].errorMsg}}
                                      </div>
                                      <div class="file-form-answers">
                                        <ng-container>
                                          <div class="uploaded-file-component" *ngIf="logo[0].uploaded == true">
                                            <div class="file-view-list-item-thumbnail-component" style="display: none;">
                                              <div class="file-preview file-preview-icon undefined">
                                                <div>
                                                  <i>
                                                    <mat-icon matSuffix>insert_drive_file</mat-icon>
                                                  </i>
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                          <div class="uploaded-file-component" *ngIf="uploadResLoader == true">
                                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                          </div>
                                        </ng-container>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                            </ng-container>
                          </div>
                          <!-- <ng-container *ngIf="userSelectedRoles == userRoles.corporateAdmin"> -->
                          <div class="row mb-20">
                              <div class="col-sm-12 text-center">
                                  <button color="warn" class="publisBtn red-btn minw-170 pos-rel"
                                      [disabled]="startupLoader" type="submit">
                                      Save
                                      <div class="css-loader-btn" *ngIf="startupLoader">
                                          <div class="sbl-circ"></div>
                                      </div>
                                  </button>
                              </div>
                          </div>
                          <!-- </ng-container> -->

                      </div>
                  </form>
              </ng-container>
          </ng-container>
      </div>
    </div>
</section>