<div class="custom-modal-with-blue">
    <mat-tab-group>
        <mat-tab class="blue-heading" label="Support / Contact us">
            <div class="blue-modal-body">
                <form class="login100-form validate-form placeholder-type-form" [formGroup]="supportFrm"
                    (ngSubmit)="onSubmitClick()">
                    <div class="rcf-group">
                        <div class="text-inside">
                            <!-- <label class="custom-label">Subject</label> -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput [attr.aria-label]="'Hide password'" placeholder="Subject"
                                    formControlName="subject"  required placeholder="Subject">
                                <mat-error *ngIf="supportFrm.controls.subject.hasError('required')">
                                    * Please enter subject
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('subject').hasError('maxlength') && !supportFrm.get('subject').hasError('whitespace')">
                                    * Maximum 20 characters allowed
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('subject').hasError('minlength') && !supportFrm.get('subject').hasError('whitespace')">
                                    * Minimum 3 characters required
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('subject').hasError('whitespace') && !supportFrm.controls.subject.hasError('required')">
                                    * Please enter valid details
                                </mat-error>

                                <mat-error *ngIf="supportFrm.get('subject').hasError('pattern')">
                                    * Please enter valid details 
                                  </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--<div class="rcf-group">
                        <div class="text-inside">
                            <ng-container *ngIf="typeLoader == true">
                                <div class="text-center m-t-30 industry-loader">
                                    <div class="preloader pl-size-xs">
                                        <div class="spinner-layer pl-purple">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="typeLoader == false">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-select placeholder="Select the type of support" formControlName="type" required>
                                        <ng-container *ngFor="let type of types">
                                            <mat-option [value]="type.value">{{type.value}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error *ngIf="supportFrm.controls.type.hasError('required')">
                                        *Please select type of support
                                    </mat-error>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>-->
                    <div class="rcf-group">
                        <div class="text-inside">
                            <!--  <label class="field-label">Description</label> -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <textarea matInput placeholder="Describe the support you want..." formControlName="description"
                                    rows="5" required></textarea>
                                <mat-error *ngIf="supportFrm.controls.description.hasError('required')">
                                    *Please write description
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('description').hasError('maxlength') && !supportFrm.get('description').hasError('whitespace')">
                                    * Maximum 500 characters allowed
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('description').hasError('minlength') && !supportFrm.get('description').hasError('whitespace')">
                                    * Minimum 3 characters required
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('description').hasError('whitespace') && !supportFrm.controls.description.hasError('required')">
                                    * Please enter valid details
                                </mat-error>
                                <mat-error *ngIf="supportFrm.get('description').hasError('pattern')">
                                    * Please enter valid details 
                                  </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-sm-12 text-right">
                            <button class="transparent-btn" name="closeDialog" (click)="closeDialog()"
                                type="button">Discard</button>
                            <!--  <button mat-flat-button color="primary" class="red-btn minw-170" type="submit">
                                Send
                                <div *ngIf="loader">
                                    <div class="btn-loader2">Loading...</div>
                                </div>
                            </button> -->
                            <button color="warn" class="publisBtn red-btn minw-170 pos-rel" name="submitdf" [disabled]="loader"
                                type="submit">
                                Send
                                <div class="css-loader-btn" *ngIf="loader">
                                    <div class="sbl-circ"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab  class="blue-heading"  label="Feedback">
            <div class="blue-modal-body">
                <form class="login100-form validate-form placeholder-type-form" [formGroup]="feedbackFrm"
                    (ngSubmit)="onSubmitFeedback()">
                    <div class="rcf-group">
                        <div class="text-inside">
                            <!-- <label class="custom-label">Subject</label> -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput [attr.aria-label]="'Hide password'" placeholder="Subject"
                                    formControlName="subject" required placeholder="Subject">
                                <mat-error *ngIf="feedbackFrm.controls.subject.hasError('required')">
                                    *Please enter subject
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('subject').hasError('maxlength') && !feedbackFrm.get('subject').hasError('whitespace')">
                                    * Maximum 20 characters allowed
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('subject').hasError('minlength') && !feedbackFrm.get('subject').hasError('whitespace')">
                                    * Minimum 3 characters required
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('subject').hasError('whitespace') && !feedbackFrm.controls.subject.hasError('required')">
                                    * Please enter valid details
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('subject').hasError('pattern')">
                                    * Please enter valid details 
                                  </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="rcf-group">
                        <div class="text-inside">
                            <!--  <label class="field-label">Description</label> -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <textarea matInput placeholder="Describe feedback..." formControlName="description"
                                    rows="5" required></textarea>
                                <mat-error *ngIf="feedbackFrm.controls.description.hasError('required')">
                                    *Please write feedback
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('description').hasError('maxlength') && !feedbackFrm.get('description').hasError('whitespace')">
                                    * Maximum 500 characters allowed
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('description').hasError('minlength') && !feedbackFrm.get('description').hasError('whitespace')">
                                    * Minimum 3 characters required
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('description').hasError('whitespace') && !feedbackFrm.controls.description.hasError('required')">
                                    * Please enter valid details
                                </mat-error>
                                <mat-error *ngIf="feedbackFrm.get('description').hasError('pattern')">
                                    * Please enter valid details 
                                  </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-sm-12 text-right">
                            <button class="transparent-btn" name="closeDialog" (click)="closeDialog()"
                                type="button">Discard</button>
                            <button color="warn" class="publisBtn red-btn minw-170 pos-rel" name="submitdf" [disabled]="loader"
                                type="submit">
                                Send
                                <div class="css-loader-btn" *ngIf="loader">
                                    <div class="sbl-circ"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>