<div class="messaging" [ngClass]="evalLoader == true ?'min-height-page pos-rel':''">
  <div class="display-flex side-tabs pipline-chat">
    <div class="tab-left"></div>
    <div class="tab-right" [ngClass]="evalLoader == true ?'min-height-page pos-rel tabRightLoader':''">
      <ng-container *ngIf="evalLoader == true">
        <div class="preloader-box">
          <div class="preloader pl-size-l">
            <div class="spinner-layer pl-orange">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="evaluations.length > 0 && evalLoader == false">
        <div class="inbox_msg">
          <div class="inbox_people" [ngClass]="evalMsgMobChatBoxOpen == true ? 'hide' : ''">
            <div class="inbox_chat_border">
              <div class="inbox_chat scroll">
                <ng-container *ngFor="let evaluation of evaluations; let i = index">
                  <div class=" chat_list {{ evaluation.activeClass }}" (click)="openEvalMsgBox(i, evaluation._id)"
                    style="cursor: pointer;">
                    <!-- active_chat -->
                    <div class="chat_people">
                      <div class="chat_ib" style="float: none;">
                        <h5>
                          {{ evaluation.title }}
                        </h5>
                        <div class="display-flex align-center mt-5">
                          <div class="company-name">
                            {{ evaluation.org_name }}
                          </div>
                          <span class="chat_date ml-auto">{{
                                  dateFormatService.momentAgoDateFormat(
                                    evaluation.created
                                  )
                                }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="mesgs" [ngClass]="evalMsgMobChatBoxOpen == true ? 'open' : ''">
            <div class="chat_connect_box">
              <a href="javascript:void();" (click)="toggleEvalMsgsMobChatBox()" class="back-chat-arrow"></a>
              <div class="display-flex align-center">
                <div class="chat_connect_name">
                  {{ selectedEval.title }}
                </div>
              </div>
            </div>
            <div class="mesgs_box">
              <div class="msg_history_block">
                <div class="msg_history">
                  <ng-container *ngIf="evalMsgLoader == true">
                    <div class="preloader-box msg_loader">
                      <div class="preloader pl-size-l">
                        <div class="spinner-layer pl-orange">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div class="msg_pos" [ngClass]="{ msg_length: 4 > evalMgs.length }">
                    <ng-container *ngIf="
                        evalMgs.length > 0 && evalMsgLoader == false
                      ">
                      <ng-container *ngFor="let msgs of evalMgs">
                        <ng-container *ngIf="msgs.receiver_id.length > 0">
                          <ng-container *ngIf="toStr(msgs.sender_id) != toStr(userId)">
                            <div class="incoming_msg">
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <div class="reply-dropdown">
                                    <a href="javascript:void(0);" class="reply-arrow">
                                      <img src="assets/images/icon_down-arrow-small.png" />
                                    </a>
                                    <ul class="reply-dropdown-menu">
                                      <li>
                                        <a href="javascript:void(0);"
                                          (click)="EvaluateReply($event, msgs._id, msgs.message, msgs.sender_name, msgs.created)">Reply</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <p class="reply-box">
                                    <span class="reply-quote-text" *ngIf="msgs.reply.length > 0">
                                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </span>
                                    <em style="font-style: italic;"
                                      *ngIf="msgs.reply.length > 0">{{msgs.reply[0].message}}</em>
                                    <span class="time_date text-left reply-box-top-border"
                                      *ngIf="msgs.reply.length > 0">
                                      {{msgs.reply[0].sender_name}}, {{
                                          dateFormatService.momentAgoDateFormat(
                                            msgs.reply[0].created
                                          )
                                        }}
                                    </span>
                                    <span>{{ msgs.message }}
                                      <span class="time_date text-right">
                                        {{
                                    dateFormatService.momentAgoDateFormat(
                                      msgs.created
                                    )
                                  }}
                                      </span></span>
                                  </p>
                                  <div class="sender-name">{{
                                      msgs.sender_name
                                  }}</div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                        <div class="outgoing_msg" *ngIf="toStr(msgs.sender_id) == toStr(userId)">
                          <div
                            (contextmenu)="onContextMenuEval($event, msgs._id, msgs.message, msgs.sender_name, msgs.created)"
                            class="sent_msg">
                            <div class="reply-dropdown">
                              <a href="javascript:void(0);" class="reply-arrow">
                                <img src="assets/images/icon_down-arrow-small.png" />
                              </a>
                              <ul class="reply-dropdown-menu">
                                <li>
                                  <a href="javascript:void(0);"
                                    (click)="EvaluateReply($event, msgs._id, msgs.message, msgs.sender_name, msgs.created)">Reply</a>
                                </li>
                              </ul>
                            </div>
                            <p class="reply-box">
                              <span class="reply-quote-text" *ngIf="msgs.reply.length > 0">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                              </span>
                              <em style="font-style: italic;"
                                *ngIf="msgs.reply.length > 0">{{msgs.reply[0].message}}</em>
                              <span class="time_date text-left reply-box-top-border" *ngIf="msgs.reply.length > 0">
                                {{msgs.reply[0].sender_name}}, {{
                                    dateFormatService.momentAgoDateFormat(
                                      msgs.reply[0].created
                                    )
                                  }}
                              </span>
                              <span>{{ msgs.message }}
                                <span class="time_date text-right">{{
                            dateFormatService.momentAgoDateFormat(
                              msgs.created
                            )
                          }}</span></span>
                            </p>
                            <div class="sender-name">{{
                              msgs.sender_name
                          }}</div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                    <div id="up"></div>
                    <ng-container *ngIf="
                        evalMgs.length == 0 && evalMsgLoader == false
                      ">
                    </ng-container>
                  </div>
                </div>

                <div #taggParticipantList id="participantForTags"
                  *ngIf="showParticipants && this.overViewDetails.sharedUsers.length > 0"
                  class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="card">
                    <div class="tableBody participantbody">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr (click)="selectedMenu('all')">
                              <td class="table-img">
                                <mat-icon>supervisor_account</mat-icon>
                              </td>
                              <td>
                                <div class="media-title">All</div>
                              </td>
                            </tr>
                            <ng-container *ngFor="let participant of participants">
                              <tr *ngIf="participant._id != localStorageService.userDetails._id"
                                (click)="selectedMenu(participant.fullname, participant.id)">
                                <td class="table-img">
                                  <mat-icon>perm_identity</mat-icon>
                                </td>
                                <td>
                                  <div class="media-title">{{participant.fullname}}</div>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="type_msg mt-10">
                <div class="input_msg_write">
                  <ng-container *ngIf="quoteMessageEval != '' && quoteMessageIdEval != '' && showReplyBoxEval">
                    <div class="attach-file-block">
                      <div class="attach-reply-box reply-text-box">
                        <div class="attach-white-box">
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <div class="">
                             {{quoteMessageEval}}
                          </div>
                          <div class="attach-file-name">{{quoteMessageSenderEval}}, {{ dateFormatService.momentAgoDateFormat(
                                  quoteMessageDateEval
                                ) }}</div>
                          <!--  <div class="attach-file-size">130 KB</div> -->
                          <a href="javascript:void(0);" (click)=removeQuoteMessageEval() class="attach-close">
                            <img src="assets/images/blue-cancel.svg" width="15px" height="15px" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <form (submit)="sendEvalMessage()" name="frm">
                    <div class="display-flex align-center add-attach-pin ">
                      <textarea autosize autocomplete="off" #sendMsg type="text" class="write_msg" name="evalMsgToSend"
                        [(ngModel)]="evalMsgToSend" [readonly]="!isSampleEditable" (focusout)="getEvalMsgToSend()"
                        (keypress)="checkInput($event)" (keydown)="keyDownHandler($event)" [minRows]="1" [maxRows]="2"
                        placeholder="Type a message"></textarea>
                      <button class="msg_send_btn" [disabled]="!isSampleEditable" type="submit">
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="text-center m-t-30" *ngIf="evaluations.length == 0 && evalLoader == false">
  <div class="no-message-box text-center">
    <div class="no-msg-img">
      <img src="assets/images/no-message-img.png" />
    </div>
    <div class="no-msg-heading">No {{tabTitle}} is initiated for evaluation yet.</div>
    <div class="no-msg-content maxw-50">Please initiate a {{tabTitle}} for evaluation via Pipeline tab.
    </div>
  </div>
</div>