<div class="promote-custom-modal">
    <ng-container>
        <div class="font-weight-bold font-17">
            Add Remarks  
        </div>
        <div class="login100-form pl-30 pr-30">
            <div class="">
                <ng-container>
                    <div class=""> 

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Remarks </mat-label>
                            <textarea required matInput id="w3review" maxlength="100" [(ngModel)]="comment" name="comment" rows="3" cols="70" placeholder="Enter remarks..."> </textarea>
                            <mat-error
                            *ngIf="this.commentError == true">
                            * Please enter valid details
                          </mat-error>
                        </mat-form-field>
                        <div  *ngIf="remarkError == true"
                        style="margin-top: -24px;
                        margin-bottom: 3px; font-size: 13px; color: red;">
                        * Please enter valid details
                      </div>
                    </div>
                </ng-container>
            </div> 
            <div class="text-right">
                <button class="pos-rel red-btn" (click)="reject()"> Ok
                </button>
                <button class=" minw-170  transparent-btn" (click)="closeDialog()">Cancel</button>
            </div>
        </div>
    </ng-container>

</div>