<div class="custom-modal-with-blue">
    <ng-container *ngIf="type == 'invite'">
        <div class="blue-heading"><!--Use class for guest user "guest-heading"-->
            Share / Invite Members
            <a href="javascript:void(0);" (click)="closeDialog()" class="ct-close close-modal">
                <span class="close-icon"></span>
                Close
            </a>
        </div>
        <div class="blue-modal-body custom-field">
            <form [formGroup]="sendInviteFrm">
                <div class="field-group">
                    <div class="pos-rel">
                        <input formControlName="email"
                            type="text" name="" class="search-field" placeholder="Search by mail ID">
                        <span class="search-icon"></span>
                        <div class="gengric-email-error" *ngIf="sendInviteFrm.controls.email.hasError('email')  &&
                        sendInviteFrm.controls.email.touched">
                            Please enter valid email address
                        </div>
                        <div class="gengric-email-error" *ngIf="genricError"
                            style="margin-top: -22px; font-size: 13px; color: red;">
                            Generic domain E-mail Ids are not accpetable.
                        </div>
                    </div>
                </div>
            </form>
            <div class="field-group">
                <label class="field-label">Frequently shared</label>
                <ng-container *ngIf="userListLoader == true">
                    <div class="text-center">
                        <div class="preloader-box">
                            <div class="preloader pl-size-l">
                                <div class="spinner-layer pl-orange">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="userListLoader == false && usersList.length > 0">
                    <div class="frequently-share-scroll">
                        <ng-container *ngFor="let user of usersList; let i = index">
                            <div class="custom-checkbox">
                                <input class="styled-checkbox" name="fsCheck{{i}}" [(ngModel)]="user.isSelected"
                                    name="select{{i}}" id="styled-checkbox-{{i}}" type="checkbox" (change)="checkOne()">
                                <label for="styled-checkbox-{{i}}">{{user.fullname}}</label>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="userListLoader == false && usersList.length  == 0">
                    <div class="text-center m-t-30">
                        <div class="text2 recnotfound">
                            No user found.
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="text-right">
                <button class="transparent-btn" (click)="closeDialog()">Cancel</button>
                <button class="red-btn minw-170  pos-rel" (click)="sendInvite()" [disabled]="shareingLoader">Share /
                    Invite
                    <div class="css-loader-btn" *ngIf="shareingLoader">
                        <div class="sbl-circ"></div>
                    </div>
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="type != 'invite'">
        <div class="blue-heading">
            Share
            <a href="javascript:void(0);" (click)="closeDialog()" class="ct-close close-modal">
                <span class="close-icon"></span>
                Close
            </a>
        </div>
        <div class="blue-modal-body custom-field share-button-block">
            <!--<div class="field-group">
                <label class="field-label">Share on Linkedin</label>
                <ng-container *ngIf="overViewLoader == true">
                    <div class="text-center">
                        <div class="preloader-box">
                            <div class="preloader pl-size-l">
                                <div class="spinner-layer pl-orange">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="overViewLoader == false">
                    <share-button button="linkedin" text="{{overViewDetails.title}}"
                        url="{{sharePath}}assets/index.php?uc_id={{ucsId}}&embed=false&a={{today | date:'fullDate'}}"
                        title="{{overViewDetails.title}}" description="{{overViewDetails.short_description}}">
                    </share-button>
                </ng-container>
            </div>-->
            <div class="field-group">
                <label class="field-label">Copy embed code</label>
                <ng-container *ngIf="apiCodeLoader == true">
                    <div class="text-center">
                        <div class="preloader-box">
                            <div class="preloader pl-size-l">
                                <div class="spinner-layer pl-orange">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="apiCodeLoader == false && apiCodeDetails.content != ''">
                    <div class="highlight share-code">
                        <pre>{{apiCodeDetails.content}}<!-- <code width="100%"  [highlight]="apiCodeDetails.content" [languages]="lang" [lineNumbers]="true"></code> --></pre>
                    </div>
                    <mat-hint>Copy above code to promote Use-cases on thrid party websites.</mat-hint>
                </ng-container>
                <ng-container *ngIf="!apiCodeLoader">
                    <div class="row mt-30">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 text-center">
                            <button class="mr-3 red-btn minw-170" (click)="copy(apiCodeDetails.content)">Copy
                            </button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>