<app-singup-page-header title="Corporate Application Form"></app-singup-page-header>
<section class="content content ml-0 mr-0">
  <div class="page-sec start-profile-form dash-pt-26">
    <!-- Show form -->
    <div class="limiter" *ngIf="successMessage == '' && errorMessage == ''">
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100">
          <form class="login100-form  validate-form custom-field edittable-from" [formGroup]="corporateForm"
            (ngSubmit)="onSubmit()">
            <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ errorMessage }}
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf="successMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ successMessage }}
            </div>
            <div class="display-flex align-center outside-header">
              <div class="back-block"><a href="javascript:void(0);" (click)="redirectToLogin()"><span
                    class="back-icon"></span> Back to Login</a>
              </div>
              <div class="text-center outside-header-text">Fill the application form to apply
              </div>
            </div>
            <div class="white-box mb-40 corporate-white-box">
              <div class="row">
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Company Name</mat-label>
                      <input matInput formControlName="name" required />
                      <mat-error *ngIf="corporateForm.get('name').hasError('required')">
                        * Company Name is Required
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('name').hasError('maxlength') && !corporateForm.get('name').hasError('pattern')">
                        * Maximum 50 characters allowed
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('name').hasError('minlength') && !corporateForm.get('name').hasError('pattern')">
                        * Minimum 3 characters allowed
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('name').hasError('pattern')">
                        * Please enter valid details 
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <ng-container *ngIf="industriesLoaders == true">
                      <div class="text-center m-t-30 industry-loader">
                        <div class="preloader pl-size-xs">
                          <div class="spinner-layer pl-purple">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="industriesLoaders == false">
                      <mat-form-field class="example-full-width">
                        <mat-select #industrySelect placeholder="Select Industry*" formControlName="industry"
                          name="industry" required multiple>
                          <mat-select-trigger>
                            {{
                        corporateForm.get("industry")
                          ? corporateForm.get("industry").value[0].value
                          : ""
                      }}
                            <span *ngIf="corporateForm.get('industry').value?.length > 1"
                              class="example-additional-selection">
                              (+{{ corporateForm.get("industry").value.length - 1 }}
                              {{
                          corporateForm.get("industry").value?.length === 2
                            ? "other"
                            : "others"
                        }})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let industry of industries" [value]="industry">{{ industry.value }}
                          </mat-option>
                          <mat-option disabled="disabled" class="filter-option">
                            <div style="margin-bottom: 15px;">
                              <button mat-raised-button class="mat-primary fill text-sm" (click)="hideSeletePanel()">
                                Done
                              </button>
                            </div>
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="corporateForm.get('industry').hasError('required')">
                          * Industry is required
                        </mat-error>
                      </mat-form-field>
                      <div class="gengric-email-error" *ngIf="industryError"
                        style="margin-top: -22px; font-size: 13px; color: red;">
                        * Industry is required
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Full Name</mat-label>
                      <input matInput formControlName="fullname" required />
                      <mat-error *ngIf="corporateForm.get('fullname').hasError('required')">
                        * Please enter Full Name
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('fullname').hasError('maxlength') && !corporateForm.get('fullname').hasError('pattern')">
                        * Maximum 50 characters allowed
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('fullname').hasError('minlength') && !corporateForm.get('fullname').hasError('pattern')">
                        * Minimum 3 characters allowed
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('fullname').hasError('pattern')">
                        * Please enter valid details 
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email Address</mat-label>
                      <input matInput formControlName="applicant_email" name="applicant_email" required />
                      <mat-error *ngIf="
                      corporateForm.get('applicant_email').hasError('required') &&
                      !corporateForm.get('applicant_email').touched
                    ">
                        * Email address is required
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('applicant_email').touched">
                        * Please enter valid email address
                      </mat-error>
                    </mat-form-field>
                    <div class="gengric-email-error" *ngIf="genricError"
                      style="margin-top: -22px; font-size: 13px; color: red;">
                      Generic Domain Email Ids are not accpetable
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>User Location</mat-label>
                      <input matInput formControlName="userLocation" required />
                      <mat-error *ngIf="corporateForm.get('userLocation').hasError('required')">
                        *Please enter user location.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Corporate Location</mat-label>
                      <input matInput formControlName="corporateLocation" required />
                      <mat-error *ngIf="corporateForm.get('corporateLocation').hasError('required')">
                        *Please enter corporate location.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Website Link</mat-label>
                      <input matInput formControlName="website" required />
                      <mat-error *ngIf="corporateForm.get('website').hasError('required')">
                        * Please enter website
                      </mat-error>
                      <mat-error *ngIf="corporateForm.get('website').hasError('pattern')">
                        * Please enter valid details 
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row ml-0 mr-0">
                    <div class="col-md-4 pl-0 pr-0">
                      <div class="rcf-group">
                        <select style="border-top:0px;border-left:0px;border-right:0px;padding-bottom: 4px;color: rgba(0, 50, 101, 0.5);" (change)="resetPhoneNumber($event)"     [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let countryCode of countryCodes"   [ngValue]="countryCode.code" data="countryCode.name" data-imagesrc='../../../assets/flags/{{getFlags(countryCode.name)}}'>{{countryCode.dial_code}}</option>
                        </select>
                      </div>
                    </div>
                  
                        <div class="col-md-8 pr-0">
                          <div class="rcf-group">
                          <mat-form-field class="example-full-width">
                            <mat-label>Mobile Number</mat-label>
                            <!-- <input matInput  (change)="formatPhoneNumber($event)" (keypress)="numberOnly($event)"formControlName="phoneNumber"
                              required /> -->
                              <input matInput  (change)="formatPhoneNumber($event)" (keypress)="numberOnly($event)" formControlName="phoneNumber"
                              required />
                            <mat-error
                              *ngIf="corporateForm.get('phoneNumber').hasError('required') ">
                              Mobile Number is required.
                            </mat-error>
                          
                            <mat-error
                              *ngIf="corporateForm.get('phoneNumber').hasError('wrongNumber') &&  corporateForm.get('phoneNumber').touched && corporateForm.get('phoneNumber').dirty">
                              Please enter valid phone number.
                            </mat-error>
                          </mat-form-field>
                        </div>
                        </div>
                     
                  </div>
                </div>
              </div>
              <div class="row mb-40 pd-manage">
                <ng-container >  
                  <div class="col-md-6">
                    <div class="white-box">
                      <div class="form-question-answer">
                        <div class="file-form-input-component">
                          <div class="display-flex align-center">
                            <div class="file-picker-component">
                                <div class="form-question-title">{{ logo[0].title }}
                                </div>
                              <div class="upload1-img-section" *ngIf="logo[0].uploaded == true">
                                <div class="upload1-img-block">
                                  <ng-container>
                                    <div class="uploaded-file-component" *ngIf="logo[0].uploaded == true">
                                    <div class="file-view-list-item-thumbnail-component">
                                    <div class="file-preview file-preview-icon undefined">
                                    <div class="file-name-with-ellipsis-component">
                                    <!-- <span class="file-name-without-extension"> {{logo[0].doc_name}} </span> -->
                                    <img src='{{ baseUrl + logo[0].path}}'/>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <!-- <div class="uploaded-file-component" *ngIf="uploadResLoader == true">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </div> -->
                                  </ng-container>
                                </div>
                                <div class="upload1-img-path">
                                  <ng-container>
                                    <div class="uploaded-file-component" *ngIf="logo[0].uploaded == true">
                                      <div class="file-view-list-item-thumbnail-component" style="display: none;">
                                        <div class="file-preview file-preview-icon undefined">
                                          <div>
                                            <i>
                                              <mat-icon matSuffix>insert_drive_file</mat-icon>
                                            </i>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="file-name-with-ellipsis-component">
                                        <span class="file-name-without-extension"> {{logo[0].doc_name}} </span>
                                    
                                      </div>
                                      <!-- <div class="file-name-with-ellipsis-component">
                                        <span class="file-name-without-extension"> <img src='{{ baseUrl + logo[0].path}}' /> </span>
                                    
                                      </div> -->
                                      <span class="ico-close" (click)="deleteLogo()">
                                        <div class="startup-delete-icon"></div>
                                      </span>
                                    </div>
                                    <!-- <div class="uploaded-file-component" *ngIf="uploadResLoader == true">
                                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </div> -->
                                  </ng-container>
                                </div>
                              </div>
                              <form style="cursor: text;" enctype="multipart/form-data"  name="frm">
                                <!-- <div class="form-question-title">{{ logo[0].title }}
                                </div> -->
                                <input style="cursor: pointer;" type="file" accept=".png,.jpg,.jpeg" class="file-hidden-input"
                                (change)="handleLogoInput($event.target.files)"  required />
                                <div class="add-file-label">
                                  <span class="attach-icon"></span> Add Logo
                                </div>
                                <div class="required-tag" style="display: none;">* Required</div>
                              </form>
                            </div>
                          </div>
                          <div class="gengric-email-error"  *ngIf="logo[0].error == true"
                            style="margin-top: -8px; font-size: 13px; color: red;">
                            {{logo[0].errorMsg}}
                          </div>
                          <div class="file-form-answers">
                            <ng-container>
                              <div class="uploaded-file-component" *ngIf="logo[0].uploaded == true">
                                <div class="file-view-list-item-thumbnail-component" style="display: none;">
                                  <div class="file-preview file-preview-icon undefined">
                                    <div>
                                      <i>
                                        <mat-icon matSuffix>insert_drive_file</mat-icon>
                                      </i>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              <div class="uploaded-file-component" *ngIf="uploadResLoader == true">
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               
                </ng-container>
              </div>

            </div>

            
            <div class="text-center">
              <div class="display-inline">
                <re-captcha (resolved)="resolved($event)" siteKey="6LcWSb4ZAAAAAP6_4rm7c7qwR0pcJvLX2LwLURvI">
                </re-captcha>
              </div>
              <div class="display-inline ml-20">
                <button style="margin-top: 14px;" mat-flat-button color="primary" class="red-btn minw-170">
                  <!-- <div class="btn-loader2" *ngIf="corporateLoader">Loading...</div> -->
                  Submit
                  <div class="css-loader-btn" *ngIf="corporateLoader">
                    <div class="sbl-circ"></div>
                </div>
                </button>
              </div>
            </div>
            <div class="text-center m-t-30  mb-20">
              <span class="text2">
                <a href="javascript:void(0);" (click)="redirectToLogin()" class="red-link">Terms and Conditions and
                  Privacy Policy.</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Success form -->
    <div class="limiter" *ngIf="successMessage != ''">
      <!-- *ngIf="successMessage != ''" -->
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100 display-block">
          <div class="white-box alert-white-box w-100">
            <form class="login100-form  validate-form custom-field edittable-from" novalidate>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <span class="login100-form-title m-b-30" style="text-align: center;">
                  <img src="assets/images/x-future.svg" />
                </span>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                    <div class="text-center mb-20"><img src="assets/images/success.svg" width="44px" height="44px" />
                    </div>
                    <div class="text-center success mb-20 text-success">
                      {{ successMessage }}
                    </div>
                  </span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <button mat-flat-button color="primary" class="red-btn w-100 mxw-350" type="submit"
                  (click)="redirectToLogin()">
                  Continue to login
                </button>
              </div>
              <div class="text-center m-t-50">
                <span class="text2">
                  <a href="javascript:void(0);" (click)="redirectToLogin()" class="red-link">Terms and Conditions and
                    Privacy Policy.</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Error form -->
    <div class="limiter" *ngIf="errorMessage != ''">
      <!-- *ngIf="errorMessage != ''" -->
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100 display-block">
          <div class="white-box alert-white-box w-100">
            <form class="login100-form  validate-form custom-field edittable-from" novalidate>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <span class="login100-form-title m-b-30" style="text-align: center;">
                  <img src="assets/images/x-future.svg" />
                </span>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                    <div class="text-center mb-20"><img src="assets/images/error.svg" width="44px" height="44px" />
                    </div>
                    <div class="text-center success mb-20 text-danger">
                      {{ errorMessage }}
                    </div>
                  </span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <button mat-flat-button color="primary" class="red-btn w-100 mxw-350" type="submit"
                  (click)="redirectToLogin()">
                  Continue to login
                </button>
              </div>
              <div class="text-center m-t-50">
                <span class="text2">
                  <a href="javascript:void(0);" (click)="redirectToLogin()" class="red-link">Terms and Conditions and
                    Privacy Policy.</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>