<app-singup-page-header></app-singup-page-header>
<section class="content content ml-0 mr-0">
  <div class="page-sec start-profile-form dash-pt-26 pl-15 pr-15">
    <div class="limiter"*ngIf="!successMessage && tokenNotFound == false && errorMessage == ''"> <!-- *ngIf="!successMessage && tokenNotFound == false && errorMessage == ''" -->
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100">
          <form class="login100-form validate-form custom-field edittable-from" [formGroup]="startupRegisterForm" (ngSubmit)="onSubmit()"
            *ngIf="recivedData" enctype="multipart/form-data">
            <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <span class="login100-form-title m-b-10 text-center">
                <img src="assets/images/x-future.svg" />
              </span>
            </div>
            <span class="login100-form-title m-b-10">
              Startup Membership Form
            </span> -->

            <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ errorMessage }}
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf="successMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ successMessage }}
            </div>
            <div class="white-box mb-40 corporate-white-box">
              <div class="form-box-heading">Startup Membership Form</div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Company Name</mat-label>
                      <input matInput formControlName="name" name="name" value="name" disabled />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Full Name</mat-label>
                      <input matInput formControlName="fullname" name="fullname" value="fullName" disabled />
                      <mat-error *ngIf="startupRegisterForm.get('fullname').hasError('required')">
                        * Please enter your full name.
                      </mat-error>
                      <mat-error *ngIf="startupRegisterForm.get('fullname').hasError('maxlength') && !startupRegisterForm.get('fullname').hasError('whitespace')">
                        * Maximum 80 characters allowed
                      </mat-error>
                      <mat-error *ngIf="startupRegisterForm.get('fullname').hasError('minlength') && !startupRegisterForm.get('fullname').hasError('whitespace')">
                          * Minimum 3 characters required
                      </mat-error>
                      <mat-error *ngIf="startupRegisterForm.get('fullname').hasError('whitespace') && !startupRegisterForm.controls.fullname.hasError('required')">
                          * Please enter valid details
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Email Id</mat-label>
                      <input matInput formControlName="email" name="email" value="email" disabled />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <div class="row ml-0 mr-0">
                      <div class="col-md-4 pl-0 pr-0">
             
                          <select style="border-top:0px;border-left:0px;border-right:0px;" (change)="resetPhoneNumber($event)"     [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}" >
                            <option *ngFor="let countryCode of countryCodes"  [ngValue]="countryCode.code">{{countryCode.dial_code}}</option>
                          </select>
                 
                      </div>

                     
                      <div class="col-md-8 pr-0">
                        <mat-form-field class="example-full-width">
                          <mat-label>Mobile Number</mat-label>
                          <input matInput  (change)="formatPhoneNumber($event)" (keypress)="numberOnly($event)" formControlName="phoneNumber"
                            required />
                          <mat-error
                            *ngIf="startupRegisterForm.get('phoneNumber').hasError('required') && startupRegisterForm.get('phoneNumber').touched">
                            Mobile Number is required.
                          </mat-error>
                        
                          <mat-error
                            *ngIf="startupRegisterForm.get('phoneNumber').hasError('wrongNumber') &&  startupRegisterForm.get('phoneNumber').touched && startupRegisterForm.get('phoneNumber').dirty">
                            Please enter valid phone number.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Domain Name</mat-label>
                      <input matInput formControlName="domain" value="domain" required />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Password</mat-label>
                      <span class="info-block" style="margin-left: 75px !important; bottom: 4px !important;">
                        <img src="assets/images/info.svg" width="16px" height="16px" />
                        <div class="info-content-box">Atleast one capital letter, one numerical, and one special character are required to set a password and 
                          the password should be a minimum of 8 character length. Example - "Hello@987”</div>
                      </span>
                      <input matInput formControlName="password" type="password" required />
                      <mat-error *ngIf="startupRegisterForm.get('password').hasError('required')">
                        Password is required
                      </mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="
                        !f.password.errors?.patterns &&
                        f.password.value != '' &&
                        f.password.touched &&
                        f.password.invalid
                      ">Password must contain more than 8 characters, 1 upper case letter, 1 numeric character
                      and 1 special character.</mat-error>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="rcf-group">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Confirm Password</mat-label>
                      <input matInput formControlName="cpassword" type="password" required />
                      <mat-error *ngIf="startupRegisterForm.get('cpassword').hasError('required')">
                        Confirm Password is required
                      </mat-error>
                    </mat-form-field>
                    <div class="gengric-email-error" style="margin-top: -22px; font-size: 13px; color: red;" *ngIf="
                        startupRegisterForm.hasError('notSame') &&
                        f.cpassword.touched &&
                        f.password.touched &&
                        !startupRegisterForm.get('cpassword').hasError('required')
                      ">
                      Password and Confirm passwords do not match
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div class="display-inline captcha-box">
                <re-captcha (resolved)="resolved($event)" siteKey="6LcWSb4ZAAAAAP6_4rm7c7qwR0pcJvLX2LwLURvI"></re-captcha>
              </div>
              <div class="display-inline ml-20">
                <button mat-flat-button color="primary" class="red-btn minw-170" type="submit">
                  <div class="btn-loader2" *ngIf="registerLoader">Loading...</div>
                  Register
                </button>
              </div>
            </div>
            <div class="text-center m-t-50">
              <span class="text2 red-link">
                Terms and Conditions and Privacy Policy.
              </span>
            </div>
          </form>
          <!-- <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');"></div> -->
        </div>
      </div>
    </div>
    <div class="limiter" *ngIf="successMessage"> <!--  *ngIf="successMessage" -->
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100 display-block">
          <div class="white-box alert-white-box w-100">
            <form class="login100-form validate-form custom-field edittable-from" novalidate>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <span class="login100-form-title m-b-30" style="text-align: center;">
                  <img src="assets/images/x-future.svg" />
                </span>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                    <div class="text-center mb-20"><img src="assets/images/success.svg" width="44px" height="44px" />
                    </div>
                    <div class="text-center success mb-20 text-success">
                      {{ successMessage }}
                    </div>
                  </span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <button mat-flat-button color="primary" class="red-btn w-100 mxw-350" [routerLink]="['/authentication/signin']">
                  Continue to Login
                </button>
              </div>
              <div class="text-center m-t-50">
                <span class="text2 red-link">
                  Terms and conditions and Privacy policy.
                </span>
              </div>
            </form>
          </div>
          <!-- <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');"></div> -->
        </div>
      </div>
    </div>
    <div class="limiter" *ngIf="tokenNotFound == true"> <!-- *ngIf="tokenNotFound == true" -->
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100 display-block">
          <div class="white-box alert-white-box w-100">
            <form class="login100-form validate-form custom-field edittable-from" novalidate>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <span class="login100-form-title m-b-30" style="text-align: center;">
                  <img src="assets/images/x-future.svg" />
                </span>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                    <div class="text-center mb-20"><img src="assets/images/error.svg" width="44px" height="44px" />
                    </div>
                    <div class="text-center success mb-20 text-danger">
                      You are already registered or your link has expired.
                    </div>
                  </span>
                </div>
                <div class="container-login100-form-btn">
                  <button mat-flat-button color="primary" class="red-btn w-100 mxw-350" [routerLink]="['/authentication/signin']">
                    Continue to Login
                  </button>
                </div>
              </div>
              <div class="text-center m-t-50">
                <span class="text2 red-link">
                  Terms and conditions and Privacy policy.
                </span>
              </div>
            </form>
          </div>
          <!-- <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');"></div> -->
        </div>
      </div>
    </div>
    <div class="limiter" *ngIf="errorMessage"> <!-- *ngIf="errorMessage" -->
      <div class="container-login100 background-transparent full-page-form">
        <div class="wrap-login100 display-block">
          <div class="white-box alert-white-box w-100">
            <form class="login100-form validate-form custom-field edittable-from" novalidate>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <span class="login100-form-title m-b-30" style="text-align: center;">
                  <img src="assets/images/x-future.svg" />
                </span>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader p-b-5 p-t-30 rest-pass-success">
                    <div class="text-center mb-20"><img src="assets/images/error.svg" width="44px" height="44px" />
                    </div>
                    <div class="text-center success mb-20 text-danger">
                      {{ errorMessage }}
                    </div>
                  </span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <button mat-flat-button color="primary" class="red-btn w-100 mxw-350" [routerLink]="['/authentication/signin']">
                  Continue to Login
                </button>
              </div>
              <div class="text-center m-t-50">
                <span class="text2 red-link">
                  Terms and conditions and Privacy policy.
                </span>
              </div>
            </form>
          </div>
          <!-- <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>