<div class="theme-white">
    <nav class="navbar active custom-navbar">
        <div class="container-fluid">
            <div class="title-box w-100">
                <a title="Go to home page" (click)="redirectToLogin()" href="javascript:void(0);"
                    class="home-icon display-flex align-center w-100">
                    <span class="home-logo"><img src="assets/images/cg-logo.png" /></span>
                    <span class="topbar-heading logout-heading">
                        {{title}}
                    </span>
                </a>
            </div>
        </div>
    </nav>
</div>