<div class="custom-modal-with-blue">
    <div class="blue-heading">
        Share Resources
        <a href="javascript:void(0);" (click)="closeDialog()" class="ct-close close-modal">
            <span class="close-icon"></span>
            Closes
        </a>
    </div>
    <div class="blue-modal-body custom-field">
        <div class="field-group">
            <ng-container *ngIf="resourseLoader">
                <div class="text-center">
                    <div class="preloader-box">
                        <div class="preloader pl-size-l">
                            <div class="spinner-layer pl-orange">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="resourseLoader == false && resourceList.length > 0">
                <form class="share-form">
                    <table class="custom-table share-resource-table">
                        <thead>
                            <tr>
                                <th>Files/Folders</th>
                                <th>
                                    <div class="display-flex align-center pull-right">
                                        <div class="">Select All</div>
                                        <div class="custom-checkbox white-checkbox ml-10">
                                            <input class="styled-checkbox" [(ngModel)]="selectAll" name="selectAll"
                                                (change)="checkAll($event)" id="styled-checkbox-all" type="checkbox"
                                                value="value1">
                                            <label for="styled-checkbox-all"></label>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="share-resource-table-scroll">
                        <table class="custom-table share-resource-table">
                            <tbody>
                                <ng-container *ngFor="let res of resourceList; let i = index">
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0);" (click)="getDownloadPath(res.file)"
                                                title="Download {{res.file}}"><span
                                                    class="file-name-without-extension resourse-file">{{res.file}}</span></a>
                                        </td>
                                        <td class="text-right">
                                            <div class="custom-checkbox">
                                                <input class="styled-checkbox" [(ngModel)]="res.isSelected"
                                                    name="select{{i}}" id="styled-checkbox-{{i}}" type="checkbox"
                                                    (change)="checkOne()">
                                                <label for="styled-checkbox-{{i}}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <!--   {{resourceList | json}} -->
                    <div class="row">
                        <div class="col-sm-12 text-center m-t-30 mb-20">
                            <span class="add-recourse">
                                <button type="button" title="Attach" class="red-btn minw-170"
                                    (click)="attachFiles()">Share Resources</button>
                            </span>
                        </div>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="resourseLoader == false && resourceList.length == 0">
                <div class="text-center m-t-30">
                    <div class="text2 recnotfound">
                        No resource available.
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>