.resourse-header .row {
  padding: 10px 20px 10px 20px;
}
.resourses .row {
  padding: 10px 20px 10px 20px;
}
.min-attachment-height {
  min-height: 450px;
}
.ucs-file-picker-block {
  width: 150px;
  float: right;
}
.file-picker-component {
  color: #009aff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}
.file-picker-component .file-hidden-input {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  cursor: pointer;
}
.uploaded-file-component {
  width: 100%;
}
