<div class="start-profile-form custom-form-modal user-profile-modal" [ngClass]="profileLoader ? 'pos-rel':''">
    <div class="preloader-box" *ngIf="profileLoader">
        <div class="preloader pl-size-l">
            <div class="spinner-layer pl-orange">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="custom-loader-wrap" *ngIf="profileLoader == true">
        <div class="custom-loader">Loading...</div>
    </div> -->
    <a href="javascript:void(0);" (click)="closeDialog()" class="ct-close close-modal"><span class="close-icon"></span>
        Close</a>
    <!-- {{settingsForm.value | json}} -->
    <div class="custom-modal-title">User Profile</div>
    <ng-container *ngIf="profileLoader == false">
        <form class="login100-form validate-form remove-field-border" [formGroup]="settingsForm"
            (ngSubmit)="updateDetails()">
            <div class="rcf-group mb-0">
                <label class="field-label">Name</label>
                <!--    <div class="pos-rel">
                    <div class="field-action">
                        <a href="javascript:void(0)" class="edit"
                            (click)="makeEabelDisableForm('fullname', 'enable')" *ngIf="f.fullname.disabled"
                            class="editDesc"><i class="fas fa-edit"></i></a>
                        <a href="javascript:void(0)" class="close"
                            (click)="makeEabelDisableForm('fullname', 'disable')" *ngIf="!f.fullname.disabled"><i
                                class="material-icons">close</i></a>
                        <a href="javascript:void(0)" class="check" (click)="updateDetails()"
                            *ngIf="!f.fullname.disabled"><i class="material-icons">check</i></a>
                    </div> -->
                <!-- <div class="field-value">Saurabh Mittal <span class="red-edit-icon"></span></div> -->
                <mat-form-field class="example-full-width">
                    <input matInput  maxlength="50" formControlName="fullname" required>
                    <mat-error *ngIf="settingsForm.get('fullname').hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="settingsForm.get('fullname').hasError('maxlength') && !settingsForm.get('fullname').hasError('pattern')">
                        * Maximum 20 characters allowed
                      </mat-error>
                      <mat-error *ngIf="settingsForm.get('fullname').hasError('minlength') && !settingsForm.get('fullname').hasError('pattern')">
                        * Minimum 3 characters allowed
                      </mat-error>
                      <mat-error *ngIf="settingsForm.get('fullname').hasError('pattern')">
                        * Please enter valid details 
                      </mat-error>
                </mat-form-field>
                <!-- </div> -->
            </div>
            <div class="rcf-group mb-0">
                <label class="field-label">Email</label>
                <!-- <div class="field-value">SaurabhMittal@wedigtech.com</div> -->
                <mat-form-field class="example-full-width" [disabled]="true">
                    <input matInput formControlName="email" required>
                    <mat-error
                        *ngIf="settingsForm.get('email').hasError('required') || settingsForm.get('email').touched">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>
            
                    <div class="rcf-group mb-0">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <label class="field-label">Country Code</label>
                                <select style="width: 100%;max-width: 80px; border:none;" (change)="resetPhoneNumber($event)"     [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let countryCode of countryCodes" [ngValue]="countryCode.code">{{countryCode.dial_code}}</option>
                                </select>
                            </div>
                            <div class="col-md-8 pr-0">
                                <label class="field-label">Mobile Number</label>
                                <mat-form-field class="example-full-width">
                                <input matInput  (change)="formatPhoneNumber($event)" (keypress)="numberOnly($event)" formControlName="phoneNumber"
                                    required />
                                <mat-error
                                    *ngIf="settingsForm.get('phoneNumber').hasError('required') && settingsForm.get('phoneNumber').touched">
                                    Mobile Number is required.
                                </mat-error>
                                
                                <mat-error
                                    *ngIf="settingsForm.get('phoneNumber').hasError('wrongNumber') &&  settingsForm.get('phoneNumber').touched && settingsForm.get('phoneNumber').dirty">
                                    Please enter valid phone number.
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
            
            <div class="rcf-group mb-0">
                <label class="field-label">User Location</label>
                <!--   <div class="pos-rel">
                    <div class="field-action">
                        <a href="javascript:void(0)" class="edit"
                            (click)="makeEabelDisableForm('userLocation', 'enable')" *ngIf="f.userLocation.disabled"
                            class="editDesc"><i class="fas fa-edit"></i></a>
                        <a href="javascript:void(0)" class="close"
                            (click)="makeEabelDisableForm('userLocation', 'disable')"
                            *ngIf="!f.userLocation.disabled"><i class="material-icons">close</i></a>
                        <a href="javascript:void(0)" class="check" (click)="onSubmit()"
                            *ngIf="!f.userLocation.disabled"><i class="material-icons">check</i></a>
                    </div> -->

                <!-- <div class="field-value">Jaipur</div> -->
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="userLocation" />
                    <mat-error *ngIf="settingsForm.get('userLocation').hasError('required')">
                        *Please enter user location.
                    </mat-error>
                    <mat-error *ngIf="settingsForm.get('userLocation').hasError('maxlength') && !settingsForm.get('userLocation').hasError('pattern')">
                        * Maximum 100 characters allowed
                    </mat-error>
                    <mat-error *ngIf="settingsForm.get('userLocation').hasError('minlength') && !settingsForm.get('userLocation').hasError('pattern')">
                        * Minimum 3 characters allowed
                    </mat-error>
                    <mat-error *ngIf="settingsForm.get('userLocation').hasError('pattern')">
                        * Please enter valid details 
                    </mat-error>
                </mat-form-field>
                
                <!--  </div> -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="inline-btn">
                        <button class="transparent-btn" type="button" (click)="closeDialog()">Discard</button>
                        <!-- <button mat-flat-button color="primary" class="red-btn" type="submit">
                            <div class="btn-loader2" *ngIf="submitFormLoader">Loading...</div>
                            Save
                        </button> -->
                        <button color="warn" class="publisBtn red-btn minw-170 pos-rel"
                            type="submit">
                            Save
                            <div class="css-loader-btn" *ngIf="submitFormLoader">
                                <div class="sbl-circ"></div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</div>