<div class="limiter" *ngIf="!successMessage">
  <div class="container-login100 form-background">
    <div class="form-left">
      <img src="assets/images/form-bg.svg" />
    </div>
    <div class="form-right">
      <div class="wrap-login100">
        <form class="login100-form validate-form" [formGroup]="changePasswordForm" novalidate>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <span class="login100-form-title  m-b-30">
              <img src="assets/images/x-future.svg">
            </span>
          </div>
          <span class="error-subheader p-b-15  p-t-30">
            Set New Password
          </span>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>Enter New Password</mat-label>
                <input matInput type="password" formControlName="password" autocomplete="off" name="password" required>
                <!-- <mat-icon matSuffix>security</mat-icon> -->
                <mat-error *ngIf="(f.password.touched && f.password.invalid && f.password.errors?.required)">
                  Password is required
                </mat-error>
              </mat-form-field>
              <mat-error
                *ngIf="(!f.password.errors?.patterns && f.password.value != '') && (f.password.touched && f.password.invalid)">
                Password must contain more than 8 characters, 1 upper
                case letter, and 1 special character.</mat-error>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>Re-Enter New Password</mat-label>
                <input matInput type="password" formControlName="cpassword" autocomplete="off" name="cpassword" required>
                <!-- <mat-icon matSuffix>security</mat-icon> -->
                <mat-error *ngIf="f.cpassword.errors?.required && f.cpassword.invalid">
                  Password is required
                </mat-error>
              </mat-form-field>
              <mat-error *ngIf="
                (changePasswordForm.hasError('notSame')) && (f.cpassword.touched && f.password.touched)
                ">
                Password and Confirm passwords do not match
              </mat-error>
            </div>
          </div>
          <div class="text-center rest-pass-error" *ngIf="errorMessage && loginForm.valid">
            {{ errorMessage }}
          </div>
          <div class="container-login100-form-btn">
            <button mat-flat-button color="primary" class="login100-form-btn" type="submit" (click)="onSubmit()">
              Continue
              <div>
                <div class="btn-loader2" *ngIf="loginLoader">Loading...</div>
              </div>
            </button>
          </div>
          <div class="text-center m-t-30">
            <span class="text2  ">
              <a href="javascript:void(0);" class="custom-link">Terms and Conditions and Privacy Policy.</a>
            </span>
          </div>
        </form>
        <!-- <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');">
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="limiter" *ngIf="successMessage">
  <div class="container-login100 form-background">
    <div class="wrap-login100">
      <form class="login100-form validate-form" novalidate>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <span class="login100-form-title  m-b-30" style="text-align: center;">
            <img src="assets/images/x-future.svg">
          </span>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <span class="error-subheader p-b-5 p-t-30 rest-pass-success" style="">
              {{ successMessage }}
            </span>
          </div>
        </div>
        <div class="text-center  m-t-50">
          <span class="text2 ">
            <a href="javascript:void(0);" class="custom-link">Terms and Conditions and Privacy Policy.</a>
          </span>
        </div>
      </form>
      <!-- <div class="login100-more" style="background-image: url('assets/images/pages/home-login.jpg');">
      </div> -->
    </div>
  </div>
</div>