<div class="custom-modal-with-blue">
    <div class="blue-heading">Change Password<span class="info-block">
            <img src="assets/images/info.svg" width="16px" height="16px" />
            <div class="info-content-box">Atleast one capital letter, one numerical, and one special character are required to set a password and 
                the password should be a minimum of 8 character length. Example - "Hello@987”</div>
          </span>
        <a href="javascript:void(0);" class="ct-close close-modal" (click)="closeDialog()"><span
                class="close-icon"></span> Close</a>
    </div>
    <div class="blue-modal-body">
        <form class="login100-form validate-form placeholder-type-form" [formGroup]="changePasswordForm" novalidate>
            <div class="rcf-group">
                <!-- <label class="custom-label">Current Password</label> -->
                <mat-form-field class="example-full-width" appearance="">
                    <input matInput type="password" formControlName="currentpassword" autocomplete="off" name="password"
                        required placeholder="Current Password">
                    <mat-error
                        *ngIf="(f.currentpassword.touched && f.currentpassword.invalid && f.currentpassword.errors?.required)">
                        Current password is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="rcf-group">
                <!-- <label class="custom-label">New Password</label> -->
                <mat-form-field class="example-full-width" appearance="">
                    <input matInput type="password" formControlName="password" autocomplete="off" name="password"
                        required placeholder="New Password">
                    <mat-error *ngIf="(f.password.touched && f.password.invalid && f.password.errors?.required)">
                        New password is required
                    </mat-error>
                </mat-form-field>
                <ng-container
                    *ngIf="(!f.password.errors?.patterns && f.password.value != '') && (f.password.touched && f.password.invalid)">
                    <div class="gengric-email-error">
                        Password must contain more than 8 characters, 1 upper
                        case letter, and 1 special character.</div>
                </ng-container>
            </div>
            <div class="rcf-group">
                <!-- <label class="custom-label">Confirm Password</label> -->
                <mat-form-field class="example-full-width" appearance="">
                    <input matInput type="password" formControlName="cpassword" autocomplete="off" name="cpassword"
                        required placeholder="Confirm Password">
                    <mat-error *ngIf="f.cpassword.errors?.required && f.cpassword.invalid">
                        Confirm password is required
                    </mat-error>
                </mat-form-field>
                <ng-container *ngIf="
                (changePasswordForm.hasError('notSame')) && (f.cpassword.touched && f.password.touched) && !f.cpassword.errors?.required
                ">
                    <div class="gengric-email-error" style="margin-bottom: 10px;">
                        Password and Confirm passwords do not match
                    </div>
                </ng-container>
            </div>
            <div class="row mt-30">
                <div class="col-sm-12 text-right">
                    <button class="transparent-btn" (click)="closeDialog()" type="button">Discard</button>
                    <!--  <button mat-flat-button color="primary" class="red-btn minw-170" type="submit" (click)="onSubmit()">
                        Update
                        <div>
                            <div class="btn-loader2" *ngIf="loginLoader">Loading...</div>
                        </div>
                    </button> -->
                    <button color="warn" (click)="onSubmit()" class="publisBtn red-btn minw-170 pos-rel"
                        [disabled]="loginLoader" type="submit">
                        Save
                        <div class="css-loader-btn" *ngIf="loginLoader">
                            <div class="sbl-circ"></div>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>