.rest-pass-success {
  font-size: 15px !important;
  text-transform: none !important;
}
.rest-pass-error {
  color: red;
  font-size: small;
  position: relative;
  top: -17px;
}
.gengric-email-error {
  margin-top: -22px;
  font-size: 13px;
  color: red;
}
