.mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding-bottom: 1em;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background: transparent !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 19px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.form-question .form-question-answer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.file-form-input-component {
    font-weight: 300;
    margin-right: 0;
    display: block;
    align-items: center;
    max-width: 100%;
}
.file-form-input-component .file-form-answers {
    flex-grow: 1;
    max-height: 80px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 16px;
}
.uploaded-file-component {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 0;
}
.file-view-list-item-thumbnail-component {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}
.uploaded-file-component .file-view-list-item-thumbnail-component {
    flex-shrink: 0;
    margin-right: 4px;
}
.uploaded-file-component {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 8px !important;
}
.file-view-list-item-thumbnail-component .file-preview {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.file-view-list-item-thumbnail-component .file-preview .file-type-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.file-view-list-item-thumbnail-component .file-preview .file-type-icon.icon-without-background {
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.file-name-with-ellipsis-component {
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
}
.uploaded-file-component .file-name-with-ellipsis-component {
    margin-right: 8px;
    max-width: 100%;
}
.file-name-with-ellipsis-component .file-name-without-extension {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.file-name-with-ellipsis-component .file-extension {
    flex-shrink: 0;
}
.ico-close {
    color: #c4c4c4;
    cursor: pointer;
    vertical-align: 0px;
    display: inline-block;
    margin-top: 7px;
    line-height: normal;
}
.file-picker-component {
    color: #009aff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
}
.required-tag {
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 12px;
    color: #909090;
    font-weight: 700;
    font-style: italic;
}
.file-picker-component .file-hidden-input {
    opacity: 0;
    position: absolute;
}
.file-picker-component .icon-dapulse-attachment {
    margin-right: 4px;
}
.file-picker-component span {
    vertical-align: middle;
}
.file-form-input-component .form-question-title {
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 20px;
}
.login100-form-title {
    font-size: 24px;
    text-align: left;
}
.startup-application-form-scrollbar {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    margin-bottom: 15px;
    padding-right: 5px;
}
.startup-application-form-scrollbar::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
.startup-application-form-scrollbar::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 5px;
}
.startup-application-form-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    outline: 1px solid #707070;
    border-radius: 5px;
}
.mlr-0 {
}
.input-info {
    font-size: 12px;
    color: #707070;
    margin-top: 3px;
}
