:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
  background-color: aliceblue;
}

/* .add-discussion-btn > .mat-raised-button.mat-primary {
  background-color: #5853a7;
} */
.ucs-file-picker-block {
  width: 150px;
  float: right;
}
.tabRightLoader {
  padding: 125px 0 15px !important;
}
.file-picker-component {
  color: #009aff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}
.file-picker-component .file-hidden-input {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  cursor: pointer;
}
.uploaded-file-component {
  width: 100%;
}
:host ::ng-deep .ck dl,
:host ::ng-deep .ck ul,
:host ::ng-deep .ck ol {
  padding-left: 15px;
  margin-left: 12px;
}
:host ::ng-deep .ck ul {
  list-style-type: disc;
}
:host ::ng-deep .ck ol {
  list-style-type: decimal;
}

.filter-option > .mat-pseudo-checkbox {
  display: none !important;
}



// --------Participantslist for tag-------
#participantForTags {
  z-index: 5;
  position: absolute;
  bottom: -40px;
  left: -14px;

}

#participantForTags .card{
  max-height: 400px;
  overflow: hidden;
}

.showthreedot{
  display: inline-block;
    width: 331px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}